@font-face {
    font-family: 'Allura';
    src: url('../../../assets/letras/Allura-Regular.eed472f0f82f250f.ttf');
}
@font-face {
    font-family: 'Explora';
    src: url('../../../assets/letras/Explora-Regular.cc8129149adbb784.ttf');
}
@font-face {
    font-family: 'NotoSansSy';
    src: url('../../../assets/letras/NotoSansSylotiNagri-Regular.dab974f4323dac04.ttf');
}
@font-face {
    font-family: 'Paprika';
    src: url('../../../assets/letras/Paprika-Regular.fb41e585540504ed.ttf');
}

@font-face {
    font-family: 'Solitreo';
    src: url('../../../assets/letras/Solitreo-Regular.ff68aac2289eb97b.ttf');
}

.body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: all 300ms;
}

.fondoBody{
    background-image: url('../../../assets/img/fondo_regalo.jpg');

    .nombres{
        margin-bottom: 20px;
    }
}

.imgBody{
    background-image: url('../../../assets/img/fuegos-artificiales.gif');
    background-size: 100% 100%;
}


#regalo{
    margin: 0px auto;
}
#regalo img{
    display: block;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    transition: all 300ms;
}

#regalo h1{
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding-bottom: 150px;
}

#regalo span{
    display: block;
    color: black;
    font-size: 20px;
    padding-top: 100px;
}


@keyframes caja{
    0%{
        transform: scale(1,1);



    }50%{
        transform: scale(2,2);


        
    }100%{
        transform: scale(1,1);


    }
}



.rapida{
    animation: cajaRapida 1s linear infinite;
}

.regalo{
    animation: caja 3s linear infinite;
    cursor: pointer;
}



@keyframes cajaRapida{
    0%{
        transform: scale(1,1);



    }50%{
        transform: scale(2,2);


        
    }100%{
        transform: scale(1,1);
        display: none;


    }
}



#fuegos{
    width: 100%;
    position: absolute;
    z-index: -1;
}


.fuegos{
    display: block !important;
    width: 100%;
}

.ocultar{
    display: none;
}


.cardAbrir{

    display: block !important;
    width: 100%;
}

.flexBody{
    flex-flow: column wrap;
}

#card{
    display: none;
    width:85%;
    height: 310px;
    margin-top: calc(100% - 90%);
    background-image: url('../../../assets/img/fondo_giftcard.jpg');
    border-radius: 10px;
    z-index: 1;

    div{
        margin-bottom: 20px;
    }

}

#cajah{
    display: none;
    margin-top: calc(100% - 60%);
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.logo{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
.imgCard{
    height: 50px;
    border-radius: 6px;
}

#gift{
    font-family: 'Solitreo';
    font-size:30px;
    margin-left: 10px;
    margin-top: 10px;
}


#cirugia{
    font-family: 'auto';
    font-size:25px;
    text-align: center;
    letter-spacing: 4px;
}

.santiago{
    font-family: "NotoSansSy";
    text-align: center;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 100;
    margin-top: 5px;
    text-shadow: 0px 1px 3px #cf55fc;
    text-shadow: purple;
    letter-spacing: 3px;
}

.nombre{
    font-size: 150%;
    font-style: oblique;
    font-family: initial;
    text-decoration: none;
    letter-spacing: 3px;
}


@keyframes monto{

    0%{
        text-shadow: 3px 3px 4px white;
    }50%{
        text-shadow: 0px 0px 2px white;
    }100%{
        text-shadow: 3px 3px 4px white;
    }
}

#ul{
    margin-top: 30px;
    padding: 5px;
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;

    img{
        width: 40px;
    }
}

#ul > li{
    color: #000;
    font-weight: 700;
    text-shadow: 0px 0px 3px white;
    display: flex;
    align-items: center;
}

#audio{
    display: none;
    opacity: 0;
}

a{
    color: blue;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px 3px white;
}
