:host{
    .contentImg{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 85vh;
    }
    .contentImgs{
        display: flex;  
        flex-flow:row wrap;
        width: 100%;

        div{
            width: 50%;
            height: 250px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}