@import '../../../../../styles.scss';

.inputs{
    font-size: 16px !important;

}

.emailStyles{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    color: gray;
    text-align: center;
    transition: 300ms;

}

.modal{
    position: absolute;
    top: 3%;
    width: 75%;
    max-width: 700px;
    border-radius: 20px;
    background-color: rgb(255, 253, 253);
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .content_titulo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        h3{
            align-self: end;
            margin-right: 15%;
        }
        span{
            padding   : 5px;
            font-weight: bold;
            margin-right: -15%;
            background-color: #b0a4a4;
            color: white;
            border-radius: 50px;
            width: 20px;
            text-align: center;
            cursor:pointer;
        }
    }
    
}

form{
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}


.success{    display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
width: 100%;
color: #fff;
border-radius: 5px;
background: #2cb32c;

p{
    padding: 10px;
    small{
        display: block;
    }
}
}

.error{
    background: #da4a4a;
}

/* 
position: absolute;
top: 15%;
left: 7%;
width: 75%;
height: 40%;
border-radius: 20px;
background-color: rgb(255, 253, 253);
padding: 20px; */

.radio{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

input[type="radio"]{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.modalHora{
    left: 0%;
    top: 0%;
}

.servicio{

}
.modalHoras{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 95%;
    border: 1px solid black;
    border-radius: 5px;
    top: 21%;
    left: 10%;
    box-shadow: 0px 0px 5px black;
    margin-top: 30px;

    div{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10%;
        margin-top: 10px;

        h3{
        }

        span{
            width: 20px;
            text-align: center;
            border-radius: 50px;
            background-color: #b0a4a4;
            color: white;
            cursor: pointer;
        }
    }

    
    .listaHoras{
        display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5%;

        li{
            width: 40%;
            border: 1px solid black;
            padding: 5px;
            cursor: pointer;
            transition: all 300ms;
            margin-bottom: 10px;
            background-color: $colorInputs;
        }
        li:hover{
            opacity: 0.8;
        }
    }
    .ulServicios{
        width: 86%;
        flex-flow: column;
        li{
            width: 100%;
            margin-bottom: 20px;
            background-color: $colorInputs;
        }
       }
}


.modalServicio{
      max-height: 98%;
}

.modalNotifica{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8509803922);
    width: 100%;
    height: 100%;
    div{
        background: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;

        .textConfirmar{
            color: #da4a4a;
        }

        .messageModal {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .messageServices{
            display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
        }
        div{
            width: 80%;
            display: flex;
            flex-flow: row;
            padding: 10px;
            justify-content: space-evenly;
            button{
                width: 80px;
                height: 40px;
                color: white;
            }
        }
    }
}