.calendario{

    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    gap: 4%;
    justify-content: center;


    .dias{
        display: flex;
        flex-flow: column;
        border: 1px solid back;
        width: 100%;
        height: 100px;
        box-shadow: 0px 0px 5px black;
        overflow: auto;
        justify-content: center;
        text-align: center;
    
        .diaSemana{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 100%;
        font-weight: bold;
        }

        .clientes{
            margin-bottom: 5px;
            box-shadow: 0px 1px 0px black;
            padding: 5px;
            padding-left: 10px; 

            .textoAgenda{
              font-size: 14px;
              text-shadow: 0px 0px 1px black;
              letter-spacing: 1px;
            }
        }

    }

}

.boxTitulo{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 20px;
    justify-content: center;

    .contentTitulo{
        display: flex;
        width: 40%;
        justify-content: end;
        align-items: center;
    }

    .montoTotal{
        width: 30%;
        display: flex;
        color: #00b700;
        justify-content: end;
    }
}

.ocupado{
    background-color: #ccc;
    margin-bottom: 10px;
}

.none{
    display: none;
}

.contenidoAgenda{
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 60px;
    padding: 5px;
    
    button{
    width: 100%;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0px 2px 2px black;
    }

}


app-modal-register{
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 800px;
    top: 0px;
    height: 100%;
    background: #000000d9;
    z-index: 1;
    justify-content: center;
}

app-registrar-usuario {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0px;
    background: rgb(0 0 0 / 91%);
    width: 100%;
    max-width: 800px;
    min-height: 598px;
    overflow-y: scroll;
    color: white;
}

.btnInicio{
    display: flex;
    position: absolute;
    bottom: 27px;
    z-index: 3;
    max-width: 800px;
    width: 100%;
    align-content: center;
    justify-content: center;

    button{
       width: 70%;
       background: white;
       color: black;
       font-weight: bold;
       cursor: pointer;
    }
}

.contentUsers{
    position: fixed;
    left: 10%;
    top: 13%;
    background: white;
    color: black;
    width: 18%;
    border-radius: 5px;
    text-align: center;
}

.buscador{
    width: 20%;
    input[type='text']{
        width: 90%;
    }
}

.filter{
    border: 3px solid rgb(0, 112, 0);
}

