<div class="registro">
    <form [formGroup]="formArticulos">
        <label name="titulo">Titulo:</label>
        <input formControlName="nombre" type="text" placeholder="Titulo...." />
         <textarea formControlName="descripcion" placeholder="Descripcion..."></textarea>
        <input class="carga" id="imgUser" type="file" (change)="cargarImg($event)" />
        <input type="submit" value="Registrar" (click)="enviar()">
        <!-- <p *ngIf="messageError" class="errorMessage">{{messageError}}</p>
        <p *ngIf="messageExito">{{messageExito}}</p> -->
    </form>

</div>