.inputs{
    font-size: 16px !important;

}

.registro{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    justify-content: center;


    form{
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 55vh;
    gap: 10px;
    }
}

.errorMessage{
        background: red;
        text-align: center;
        padding: 14px;
        border-radius: 5px;
}