table {
  width: 100%;

  tbody tr{
    border-bottom: 1px solid black;
  }
  tbody button{
    text-align: center;
  vertical-align: middle;
  }
  tbody td {
  text-align: center;
  vertical-align: middle;
}
}