
.app {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    height: 100%;
    padding: 0px;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    app-header{
        position: fixed;
        width: 100%;
        max-width: 800px;
        height: 70px;
        top: 0px;
        background-color: black;
    }
    app-footer{
        position: fixed;
        width: 100%;
        max-width: 800px;
        bottom: 0px;
    }
}


.IphoneMenuFooter{
    order: 2;
}

.IphoneMenuContent{
    order: 3;
}

