@import '../../../../../styles.scss';

.titulo{
    display: flex;
    justify-self: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        width: 100%;
        margin: 0px;
        color: #fff;;
    }
}