
<div class="for">

     
     <label for="paranombre">Para: Nombre</label>
     <input type="text" placeholder="Nombre Cliente Para" [(ngModel)]="nombrePara"/>
     
     <label for="denombre">De: Nombre</label>
     <input type="text" placeholder="Nombre Cliente De" [(ngModel)]="nombreDe"/>

     <label for="servicio">Servicio</label>
     <div class="cajaPrincipal" >
        <div *ngFor="let opt of opts" (click)="producto(opt)">
            {{opt}}
          </div>
     </div>
     <p 
     *ngIf="url"
     #copiar
     class="link"
     (click)="urls()"
     > GiftCard - {{productoSelect}}</p>

     <span>{{copiado}}</span>
</div>
