/* You can add global styles to this file, and also import other style files */
$colorFondo : #010101;
$colorInputs: #e0e0e0;
$colorError : #ff0000;
$colorExito  : rgb(24, 217, 24);
/* $theme_color: #64227c;
$background_color: #212848; */

// $colorFondo : #64227c;
// $colorInputs: #f3e5ff;

*,body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

label{
    font-weight: bold;
}

br{
    margin-bottom: 10px;
}

input[type="text"] , input[type="password"] , input[type="button"]{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: $colorInputs;
}

input[type="button"]{
    box-shadow: 1px 1px 1px black inset;
}

input[type="file"]{
    padding:10px;
}

select{
    padding:10px;
}

input[type="submit"] , button{
    cursor: pointer;
    padding: 10px;
    background: $colorFondo;
    color: #fff;
    border-radius: 5px;
    border: 2px solid white;

}

a{
    text-decoration: none;
    color: white;
}

.modalGeneric{
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 800px;
    top: 0px;
    height: 100%;
    min-height: 600px;
    background: #000000d9;
    z-index: 1;
    justify-content: center;
}

.msgError{
   background: red;
   padding: 5px;
   color: white;
   text-align: center;
}


app-giftcard{
    width: 100%;
    height: 100%;
}