<div class="cardNoticias" *ngFor="let data of datas;let index = index">
    <img class="noticiaImg" [src]="data.img" [alt]="data.nombre">
    <div class="content">
        <span> Publicado: {{data.fecha}}</span>
        <div class="menuArticle" (click)="activarMenu(data.id)">
            ...
        </div>
        <ul  [class.enabled]="data.id === this.idElement && activeMenu && rol === 'admin'" >
            <li (click)="borrarArticulo(data.id)">borrar</li>
        </ul>
        <div>
            <strong>{{data.nombre}}</strong>
            <p>{{data.descripcion}}</p>
        </div>
    </div>
    
</div>