<div class="footer" [class.footeriPhone]="iphoneFooter">
        <ul class="menu">
            <li (click)="cerrarMenu()"
            routerLink='/home'>
                <span>Inicio</span>
                <svg  routerLink='/home' id="homeIcon" aria-label="Home" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M22 23h-6.001a1 1 0 01-1-1v-5.455a2.997 2.997 0 10-5.993 0V22a1 1 0 01-1 1H2a1 1 0 01-1-1V11.543a1.002 1.002 0 01.31-.724l10-9.543a1.001 1.001 0 011.38 0l10 9.543a1.002 1.002 0 01.31.724V22a1 1 0 01-1 1z"></path></svg>
            </li>
            <li (click)="cerrarMenu()"
            routerLink="/articulos">
                <span>Muro</span>
                <svg id="galleryIcon"aria-label="Posts" class="_ab6-" color="#0095f6" fill="#0095f6" height="24" role="img" viewBox="0 0 24 24" width="24"><rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line></svg>
            </li>
            <li (click)="cerrarMenu()"
            routerLink="/agenda">
                <span>Agenda</span>
                <svg class="agendaIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M79.7,82.1H12.4C7,82.1,2.3,77.8,2.3,72c0-5.4,4.3-10.1,10.1-10.1h67.3c5.4,0,10.1,4.3,10.1,10.1     C89.8,77.4,85.2,82.1,79.7,82.1z"/>
                                <path d="M79.7,182.4H12.4c-5.4,0-10.1-4.3-10.1-10.1c0-5.4,4.3-10.1,10.1-10.1h67.3c5.4,0,10.1,4.3,10.1,10.1     C89.8,177.7,85.2,182.4,79.7,182.4z"/>
                                <path d="M79.7,327.8H12.4c-5.4,0-10.1-4.3-10.1-10.1c0-5.4,4.3-10.1,10.1-10.1h67.3c5.4,0,10.1,4.3,10.1,10.1     C89.8,323.2,85.2,327.8,79.7,327.8z"/>
                                <g>
                                    <path d="M79.7,427.8H12.4c-5.4,0-10.1-4.3-10.1-10.1c0-5.4,4.3-10.1,10.1-10.1h67.3c5.4,0,10.1,4.3,10.1,10.1      S85.2,427.8,79.7,427.8z"/>
                                    <path d="M45.9,0v42h33.8c16.3,0,29.9,13.2,29.9,29.9s-13.2,29.9-29.9,29.9H45.9v40.4h33.8c16.3,0,29.9,13.2,29.9,29.9      S96,202,79.7,202H45.9v85.6h33.8c16.3,0,29.9,13.2,29.9,29.9c0,16.3-13.2,29.9-29.9,29.9H45.9v40.4h33.8      c16.3,0,29.9,13.2,29.9,29.9c0,16.3-13.2,29.9-29.9,29.9H45.9v42h67.3V0H45.9z"/>
                                </g>
                                <path d="M133.4,0v490h354.3V0H133.4z M310.3,145.1c22.6,0,40.4,18.3,40.4,40.4c0,22.6-18.3,40.4-40.4,40.4     c-22.6,0-40.4-18.3-40.4-40.4S288.2,145.1,310.3,145.1z M219.3,344.9c0-50.6,40.8-91.4,91.4-91.4s91.4,40.8,91.4,91.4H219.3z"/>
                            </g>
                        </g>
                    </g>
                    </svg>
            </li>
            <li (click)="cerrarMenu()"
            routerLink="/contacto">
                <span>Contacto</span>
                <svg id="usuariosIcon" aria-label="Profile" class="_ab6-" color="#262626" fill="#262626" 
                height="16" role="img" viewBox="0 0 24 24" width="16">
                <circle cx="12.004" cy="12.004" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" 
                stroke-miterlimit="10" stroke-width="2"></circle>
                <path d="M18.793 20.014a6.08 6.08 0 00-1.778-2.447 
                3.991 3.991 0 00-2.386-.791H9.38a3.994 3.994 0 
                00-2.386.791 6.09 6.09 0 00-1.779 2.447" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                 <circle cx="12.006" cy="9.718" fill="none" r="4.109" stroke="currentColor" 
                 stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle></svg>
            </li>
        </ul>
</div>


